{{!--
Instead of hard-coding specific values for the src and alt attributes on the <img> tag,
we opted for the ...attributes keyword instead, which is also sometimes referred to as the "splattributes" syntax.
This allows arbitrary HTML attributes to be passed in when invoking this component
--}}

{{#if this.isLarge}}
<button class="image large" {{on 'click' this.toggleSize}}>
  <img ...attributes>
  <small>View smaller</small>
</button>
{{else}}
<button class="image" {{on 'click' this.toggleSize}}>
  <img ...attributes>
  <small>View larger</small>
</button>
{{/if}}