{{!--
Instead of hard-coding specific values for the src and alt attributes on the <img> tag,
we opted for the ...attributes keyword instead, which is also sometimes referred to as the "splattributes" syntax.
This allows arbitrary HTML attributes to be passed in when invoking this component
--}}

<div class="image">
  <img ...attributes>
</div>