{{page-title "Quickstart Project"}}

<h1>Hello World!</h1>

{{!-- The following component displays Ember's default welcome message. --}}
{{!--
<WelcomePage />
--}}


{{!-- This is where the route will be rendered --}}
{{outlet}}